<h1>EDIT PAGE</h1>

<%= form_for(@article) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit %>
<% end %>

<%= link_to 'delete',
  article_path(@article),
  method: :delete,
  data: {confirm: "are you sure ?"} %>
<br>
